@model IEnumerable<AdvtManagement.Models.ADVERTISEMENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADVT_STATUS_TYPE.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAMPAIGN.Department_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEDIA_TYPE.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADVT_STATUS_TYPE.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAMPAIGN.Department_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEDIA_TYPE.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code })
        </td>
    </tr>
}

</table>
